
.featureStock {
  animation: loadFeature 1.5s;
  cursor: pointer;
  align-items: center;
  width: 50vw;
  min-width: 330px;
  margin-right: 25vw;
  margin-left: 25vw;
  border-radius: $borderRadius;
  box-shadow: $boxShadow;
  margin-top: 15px;
  position: relative;
  align-content: center;
  height: auto;
  min-height: 150px;
  background: rgba(255, 255, 255, 1);
  display: grid;
  transition: all 0.2s ease-out;
  &:hover {
    background-color: rgba(255, 255, 255, 1);
  }
}
.stockName {
  text-align: left;

  padding-top: 15px;
  font-size: 0.85em;
  padding-left: 25px;
  padding-bottom: 5px;
  max-width: 25ch;
  height: auto;
  display: grid;
  align-items: flex-start;
  justify-content: flex-start;
  text-decoration: underline;
  grid-area: stockName;
}
.symbol {
  padding-left: 25px;
  font-size: 1.8rem;
  font-weight: 200;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  grid-area: symbol;
  position: relative;
}
.price {
  &:before {
    content: "$";
    transform: scale(0.8);
  }
  position: relative;
  margin-bottom: 5px;
  font-size: 2rem;
  font-weight: 600;
  display: flex;
  align-self: center;
  justify-content: flex-start;
  grid-area: price;
  span {
    font-weight: 800;
    font-size: 0.32em;
    align-self: flex-start;
    padding: 4px;
  }
}
.change {
  display: flex;
  align-self: center;
  justify-content: flex-start;
  font-size: 1em;
  grid-area: change;
  padding: 0 5px;
}
.changePercent {
  display: flex;
  align-self: center;
  justify-content: flex-start;
  grid-area: changePercent;
  font-size: 1em;
}
.changeText {
  margin-top: 10px;
  font-size: 0.75em;
  display: flex;
  justify-content: center;
  align-self: flex-end;
  grid-area: changeText;
}
.exchange {
  padding-left: 25px;
  display: grid;
  justify-content: flex-start;
  align-self: flex-start;
  font-size: 0.7em;
  grid-area: exchange;
}
.week52Low {
  display: grid;
  grid-area: week52Low;
  font-weight: 600;
  font-size: 1.1rem;
  &:before {
    font-weight: 200;
    content: "52 WK LOW";
  }
}
.week52High {
  grid-area: week52High;
  font-weight: 600;
  font-size: 1.1rem;
  &:before {
    font-weight: 200;
    content: "52 WK HIGH";
  }
}
.avgVolume {
  grid-area: volume;
  font-weight: 600;
  font-size: 1.1rem;
  &:before {
    font-weight: 200;
    content: "VOLUME";
  }
}
.peRatio {
  grid-area: peRatio;
  font-weight: 600;
  font-size: 1.1rem;
  &:before {
    font-weight: 200;
    content: "P/E";
  }
}
.lastTradeTime {
  font-size: 0.8em;
  padding-left: 25px;
  justify-content: flex-start;
  display: grid;
  grid-area: time;
}
.ytdChange {
  grid-area: ytdChange;
  font-weight: 600;
  font-size: 1.1rem;
  &:before {
    content: "YTD Change";
    font-weight: 200;
  }
}
.positive {
  color: green;
}
.negative {
  color: red;
}
.closeBox {
  position: absolute;
  right: calc(1rem - 7.5px);
  top: calc(1rem - 7.5px);
  display: grid;
  border-radius: 50%;
  width: 2em;
  height: 2em;
  align-items: center;
  justify-content: center;
  z-index: 2;
  padding: 15px;
  &:hover {
    &::before {
      transform: rotate(-45deg);
    }
    &::after {
      transform: rotate(45deg);
    }
    color: white;
    cursor: pointer;
  }
  &::before,
  &::after {
    border-radius: 10px;
    transition: transform 0.2s ease;
    content: "";
    position: absolute;
    top: 7.5px;
    right: 7.5px;
    width: 1em;
    height: 0.15em;
    background-color: black;
    transform: rotate(0deg);
  }
}
.positiveBox {
  border-left: 10px solid green;
}
.negativeBox {
  border-left: 10px solid rgb(255, 100, 100);
}
.neutralBox {
  border-left:10px solid rgba(100,100,100,0.5)
}

.positiveArrow,
.negativeArrow {
  display: flex;
  align-self: center;
  justify-self: flex-end;
  align-items: center;
  font-size: 2em;
  margin-right: 10px;
  grid-area: arrow;
}
.positiveArrow {
  color: green;
}
.negativeArrow {
  color: red;
}

.featureHidden {
  display: none;
}
.featureExpanded {
  display: inherit;
}

.addToCustom,
.removeFromCustom {
  line-height: 0px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  padding-right: 5px;
  width: 20px;
  height: 20px;
  color: black;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease;
  &:hover {
    color: rgba(50, 50, 70, 0.5);
  }
  &:active {
    color: rgba(244, 200, 100, 1);
  }
  i {
  }
}
.addToCustom {
  right: 80px;
}
.removeFromCustom {
  right: 50px;
}
