
.fa-search,
.fa-list {
  transform: scale(1.5);
}

.stockForm {
  border-radius: $borderRadius;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  margin-bottom: 40px;
  box-shadow: $boxShadow;

}

.searchAndLists {
  flex-flow: wrap;
  display: flex;
  justify-content: center;
  padding: 0px;
  align-items: center;
  flex-direction: row;
  position: relative;
}

.buttonSearchActive {
  width: auto;
}
.buttonSearchActive {
  width: 0px;
}

.closeAllStocks {
  flex-flow: nowrap;
  background: white;
  width: 200px;
  padding: 5px;
  border-radius: $borderRadius;

  z-index: 2;
  position: relative;
  transition: all 0.3s ease;
  border: solid 1px rgba(0, 0, 0, 0.5);
  &:hover {
    border-radius: 2px;
    color: white;
    background: #5b5f9633;
    border: 1px solid white;
    cursor: pointer;
  }
  &:active{
    background:rgba(200,200,200,0.2)
  }
}
.hideCloseAll {
  display: none;
}
